@model List<FoodProject.Data.Models.Shopping>
@{
    ViewData["Title"] = "BasketDetails";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="banner">
    <div class="w3l_banner_nav_right">
        <!-- about -->
        <div class="privacy about">
            <h3>Sepetiniz (@ViewBag.basketCount)</h3>
            <div class="checkout-right">

                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>Ürün</th>
                            <th>Ürün Adı</th>
                            <th>Miktar</th>
                            <th>Fiyat</th>
                            <th>Kaldır</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tbody>

                            <tr class="rem1">
                                <td class="invert-image"><a href="#"><img src="~/Resimler/@item.Food.ImageURL" alt=" " class="img-responsive"></a></td>
                                <td class="invert">@item.Food.Name</td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="row" style="margin-left:1px;margin-right:0.5px;">
                                                <div class="col-md-4">
                                                    <a href="/Order/MinusProduct/@item.ShoppingID">
                                                        <div class="entry value-minus">&nbsp;</div>
                                                    </a>
                                                </div>
                                                <div class="col-md-4" style="display:flex;">
                                                    <div class="entry value"><span>@item.ShoppingQuantity</span></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="/Order/PlusProduct/@item.ShoppingID">
                                                        <div class="entry value-plus active"> &nbsp;</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>


                                <td class="invert">@item.Food.Price ₺</td>

                                <td class="invert">
                                    <div class="rem">
                                        <a href="/Order/DeleteProduct/@item.ShoppingID">
                                            <div class="close1">
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
                <br />
                <label style="margin-left:550px;">Toplam tutar:<i></i> <span>@ViewBag.TotalPrice ₺</span></label>
            </div>
            <br />
            <a class="btn btn-info" href="/Default/Products/" style="margin-left:550px;margin-bottom:15px;">Alışverişe Devam Et</a>
            <a class="btn btn-danger" href="/Order/PaymentAdd/" style="margin-left:550px;">Ödeme Adımına Geç</a>

            @if (@ViewBag.OrdersCount != 0)
            {
                <a class="btn btn-link" href="/Order/UserOrders/" style="margin-left:570px; margin-top:8px;">Siparişlerim</a>
            }

            <div class="clearfix"> </div>

        </div>
        <!-- //about -->
    </div>
    <div class="clearfix"></div>
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<!--quantity-->
<script>
    $('.value-plus').on('click', function () {
        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
        divUpd.text(newVal);
    });

    $('.value-minus').on('click', function () {
        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
        if (newVal >= 1) divUpd.text(newVal);
    });
</script>
<!--quantity-->
<script>
    $(document).ready(function (c) {
        $('.close1').on('click', function (c) {
            $('.rem1').fadeOut('slow', function (c) {
                $('.rem1').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.close2').on('click', function (c) {
            $('.rem2').fadeOut('slow', function (c) {
                $('.rem2').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.close3').on('click', function (c) {
            $('.rem3').fadeOut('slow', function (c) {
                $('.rem3').remove();
            });
        });
    });
</script>

<!-- //js -->
<!-- script-for sticky-nav -->
<script>
    $(document).ready(function () {
        var navoffeset = $(".agileits_header").offset().top;
        $(window).scroll(function () {
            var scrollpos = $(window).scrollTop();
            if (scrollpos >= navoffeset) {
                $(".agileits_header").addClass("fixed");
            } else {
                $(".agileits_header").removeClass("fixed");
            }
        });

    });
</script>
<!-- //script-for sticky-nav -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        //$().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.js"></script>
<script>
    paypal.minicart.render();

    paypal.minicart.cart.on('checkout', function (evt) {
        var items = this.items(),
            len = items.length,
            total = 0,
            i;

        // Count the number of each item in the cart
        for (i = 0; i < len; i++) {
            total += items[i].get('quantity');
        }

        if (total < 3) {
            alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
            evt.preventDefault();
        }
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
