@model FoodProject.Data.Models.Category
@{
    ViewData["Title"] = "CategoryGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Category Update Page</h1>
<br />
@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.CategoryID,new{@class="form-control"})
    <br />
    @Html.Label("Category Name")
    @Html.TextBoxFor(x=>x.CategoryName,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.CategoryName,"",new{@style="color:red"})  @* string içini boş bırakmamızın sebebi model tarafında Required ile Error Mesajı bırakmamızdır. *@
    <br />
    @Html.Label("Category Description")
    @Html.TextBoxFor(x=>x.CategoryDescription,new{@class="form-control"})
    <br />
    <button class="btn btn-warning">Update</button>
}

