@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<FoodProject.Data.Models.Payment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order List</h1>
<br />
<table class="table table-hover">
    <tr>
        <th class="hidden">Payment Id</th>
        <th>Name Surname</th>
        <th>E-Mail</th>
        <th>Mobile Number</th>
        <th>City</th>
        <th>Details</th>
        <th>Complete the order</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th class="hidden">@x.PaymentId</th>
            <td>@x.NameSurname</td>
            <td>@x.Email</td>
            <td>@x.MobileNumber</td>
            <td>@x.City</td>                 
            <td><a href="/AdminOrders/OrderDetails/@x.PaymentId" class="btn btn-info">Order Details</a></td>
            <td><a onclick="btnCompleted()" href="/AdminOrders/OrderCompleted/@x.PaymentId" class="btn btn-success">Completed</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new{page}))

<script>
    function btnCompleted(){
        alert("Sipariş başarıyla tamamlandı.")
    }
</script>