@model FoodProject.Data.Models.Payment
@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Details</h1>
<br />
@await Component.InvokeAsync("AdminOrderDetails",new{id = @ViewBag.ID})

<table class="table table-hover">
    <tr>
        <th>Name Surname</th>
        <th>E-Mail</th>
        <th>Mobile Number</th>
        <th>City</th>
        <th>Address</th>
        <th>Shopping Total</th>
    </tr>
    <tr>
        <td>@Model.NameSurname</td>
        <td>@Model.Email</td>
        <td>@Model.MobileNumber</td>
        <td>@Model.City</td>
        <td>@Model.Address</td>
        <td>@Model.ShoppingTotal</td>
       
    </tr>

</table>
<a href="/AdminOrders/OrderCompleted/@Model.PaymentId" class="btn btn-success">Completed</a>
<br />
<br />
<br />

