@model List<FoodProject.Data.Models.OrderDetail>

<table class="table table-hover">
    <tr>
        <th>Food Name</th>
        <th class="text-center">Food Image</th>
        <th>Food Price</th>
        <th>Food Quantity</th>
        <th>Food Order Date</th>
        <th>Food Stock</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FoodName</td>
            <td><img src="~/Resimler/@item.FoodImage" alt=" " class="text-center" style="width:150px; height:100px;"></td>
            <td>@item.FoodPrice ₺</td>
            <td>@item.FoodQuantity</td>
            <td>@item.FoodOrderDate.ToLongDateString()</td>
            <td>@item.FoodStock</td>

        </tr>
    }

</table>