@model FoodProject.Data.FoodImage
@{
    ViewData["Title"] = "FoodAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Food Add Page</h1>
<br />

<form class="form-group" action="FoodAdd" asp-controller="Food" method="post" enctype="multipart/form-data">
    @Html.Label("Food Name")
    @Html.TextBoxFor(x=>x.Name,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Name,"",new{@style="color:red"})
    <br />
    @Html.Label("Stock")
    @Html.TextBoxFor(x=>x.Stock,new{@class="form-control"})
    <br />
    @Html.Label("Price")
    @Html.TextBoxFor(x=>x.Price,new{@class="form-control"})
    <br />
    @Html.Label("Choose Image")
    @*@Html.TextBoxFor(x=>x.ImageURL,new{@class="form-control"})*@
    <input type="file" name="ImageURL" />
    <br />
    @Html.Label("Category")
    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.categories,new{@class="form-control"})
    <br />
    @Html.Label("Description")
    @Html.TextAreaFor(x=>x.Description,new{@class="form-control"})
    <br />
    <button id="btnSave" class="btn btn-info">Save</button>
</form>
<script>
    $(function(){
        $("#btnSave").click(function(){
            alert("Başarıyla eklendi.");
        });
    });
</script>